.button {
    background: none;
    border: 1px solid var(--gray);
    color: var(--gray);
    padding: 1rem;
    cursor: pointer;
    outline: none;
    transition: color 0.1s, border 0.1s;
    display: flex;
    align-items: center;
}

.button svg {
    font-size: 1.25rem;
}

.button:hover {
    border: 1px solid #fff;
    color: #fff;
}

.next-btn {
    margin-left: auto;
}
