@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}

body {
    background: #1a1a1a;
}

:root {
    --gray: #777777;
    --blue: #57b7d6;
    --red: #ff5e5e;
}
